h1{
    color: red ;
}
div{
    background-color: 
    antiquewhite;
}
/* group selector */
#red,h{
    color: wheat;
     background-color: rgb(145, 62, 62);
}
.blue{
    background-color: blue;
    color: white;
}